{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Technological Profile</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item "><a href="#">Technological Profile</a></li>
                <li class="breadcrumb-item active"><a href="#">{{ name }}</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
 <div class="container-fluid mt--6">
    
    <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0"> {{ name }}</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Technology</th>
                  
                  <th scope="col" class="sort" data-sort="status">Status</th>
                  
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for i in all_ads %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ i }}</span>
                        <!-- list one by one -->
                      </div>
                    </div>
                  </th>
                  
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-info"></i>
                      <span class="status">Advertisement</span> 
                      <!-- key -->
                    </span>
                  </td>
                  
                </tr>
                {% endfor %}
                </tbody>
          </div>

              <tbody class="list">
                {% for i in all_analytics %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ i }}</span>
                        <!-- list one by one -->
                      </div>
                    </div>
                  </th>
                  
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-info"></i>
                      <span class="status">Analytics</span> 
                      <!-- key -->
                    </span>
                  </td>
                  
                </tr>
                {% endfor %}
                </tbody>

                <!-- end f analytics -->




                <tbody class="list">
                  {% for i in all_cms %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{ i }}</span>
                          <!-- list one by one -->
                        </div>
                      </div>
                    </th>
                    
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-info"></i>
                        <span class="status">Content Management Systems</span> 
                        <!-- key -->
                      </span>
                    </td>
                    
                  </tr>
                  {% endfor %}
                  </tbody>

                  <!-- end of Content Management Systems -->


                  <tbody class="list">
                    {% for i in all_Web_Master %}
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                          </a>
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{ i }}</span>
                            <!-- list one by one -->
                          </div>
                        </div>
                      </th>
                      
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-info"></i>
                          <span class="status">Web Masters</span> 
                          <!-- key -->
                        </span>
                      </td>
                      
                    </tr>
                    {% endfor %}
                    </tbody>

                    <!-- end of Web Masters -->


                    <tbody class="list">
                      {% for i in all_cdn %}
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                            </a>
                            <div class="media-body">
                              <span class="name mb-0 text-sm">{{ i }}</span>
                              <!-- list one by one -->
                            </div>
                          </div>
                        </th>
                        
                        <td>
                          <span class="badge badge-dot mr-4">
                            <i class="bg-info"></i>
                            <span class="status">Content Delivery Network</span> 
                            <!-- key -->
                          </span>
                        </td>
                        
                      </tr>
                      {% endfor %}
                      </tbody>

                      <!-- End of Content Delivery Network -->


                      <tbody class="list">
                        {% for i in all_media %}
                        <tr>
                          <th scope="row">
                            <div class="media align-items-center">
                              <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                              </a>
                              <div class="media-body">
                                <span class="name mb-0 text-sm">{{ i }}</span>
                                <!-- list one by one -->
                              </div>
                            </div>
                          </th>
                          
                          <td>
                            <span class="badge badge-dot mr-4">
                              <i class="bg-info"></i>
                              <span class="status">Media Manager</span> 
                              <!-- key -->
                            </span>
                          </td>
                          
                        </tr>
                        {% endfor %}
                        </tbody>
    
                        <!-- end of Media Masters -->

                        <tbody class="list">
                          {% for i in all_framework %}
                          <tr>
                            <th scope="row">
                              <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                  <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                                </a>
                                <div class="media-body">
                                  <span class="name mb-0 text-sm">{{ i }}</span>
                                  <!-- list one by one -->
                                </div>
                              </div>
                            </th>
                            
                            <td>
                              <span class="badge badge-dot mr-4">
                                <i class="bg-info"></i>
                                <span class="status">Frameworks</span> 
                                <!-- key -->
                              </span>
                            </td>
                            
                          </tr>
                          {% endfor %}
                          </tbody>
      
                          <!-- end of Framework -->

                          <tbody class="list">
                            {% for i in all_payment %}
                            <tr>
                              <th scope="row">
                                <div class="media align-items-center">
                                  <a href="#" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                                  </a>
                                  <div class="media-body">
                                    <span class="name mb-0 text-sm">{{ i }}</span>
                                    <!-- list one by one -->
                                  </div>
                                </div>
                              </th>
                              
                              <td>
                                <span class="badge badge-dot mr-4">
                                  <i class="bg-info"></i>
                                  <span class="status">Web Masters</span> 
                                  <!-- key -->
                                </span>
                              </td>
                              
                            </tr>
                            {% endfor %}
                            </tbody>
        
                            <!-- end of Payment Gateway -->


                            
                              <tbody class="list">
                                {% for i in all_hosting %}
                                <tr>
                                  <th scope="row">
                                    <div class="media align-items-center">
                                      <a href="#" class="avatar rounded-circle mr-3">
                                        <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                                      </a>
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">{{ i }}</span>
                                        <!-- list one by one -->
                                      </div>
                                    </div>
                                  </th>
                                  
                                  <td>
                                    <span class="badge badge-dot mr-4">
                                      <i class="bg-info"></i>
                                      <span class="status">Hosting Providers</span> 
                                      <!-- key -->
                                    </span>
                                  </td>
                                  
                                </tr>
                                {% endfor %}
                                </tbody>
            
                                <!-- end of Hosting Provider -->
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
